<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/images/toy1.png" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" alt="toy" srcset="">
      <div class="container">
        <div class="carousel-caption text-start text-dark">
          <h1>First Toy.</h1>
          <p>Some representative placeholder content for the first slide of the carousel.</p>
          <p><a class="btn btn-lg btn-primary" routerLink="/products">Shop Now</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/toy8.png" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" alt="toy" srcset="">
      <div class="container">
        <div class="carousel-caption text-start text-dark">
          <h1>Second Toy.</h1>
          <p>Some representative placeholder content for the second slide of the carousel.</p>
          <p><a class="btn btn-lg btn-primary" routerLink="/products">Shop Now</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/toy7.png" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" alt="toy" srcset="">
      <div class="container">
        <div class="carousel-caption text-center text-dark">
          <h1 class="third ms-auto">Third Toy.</h1>
          <p class="ms-auto">Some representative placeholder content for the third slide of this carousel.</p>
          <p class="ms-auto"><a class="btn btn-lg btn-primary" routerLink="/products">Browse gallery</a></p>
        </div>
      </div>
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold">Toy Store</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world's most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3" routerLink="/products">Shop Now</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">Read more</button>
    </div>
  </div>
  <div class="overflow-hidden mb-3" style="max-height: 55vh;">
    <div class="container px-5">
      <img src="../../assets/images/toy9.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="700" loading="lazy">
    </div>
  </div>
</div>